html {
  background-color: #FDF5DF;
}

/* Link {
  text-decoration: none;
} */

/* ========== NavBar ========== */
.navbar {
  background-color: #7DA2A9;
  font-family: 'Syne', sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100vw;
  color: #FDF5DF;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 5px;
  height: 40px;
  position: fixed;
  top: 0;
  z-index: 100;
}

.brand-logo{
  display: flex;
  justify-content: flex-start;
  height: auto;
  width: auto;
  text-decoration: none;
  margin-top: 5px;
  margin-left: 5px;
}


#brand-name {
  font-family: 'Permanent Marker', cursive;
  text-shadow: #A9A9AC;
  font-weight: bolder;
  font-size: 20px;
  margin-left: 10px;
  margin: auto;
  padding-left: 10px;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 2px solid transparent;
}

.nav-item {
  line-height: 40px;
  align-items: center;
}

.nav-item:after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #FDF5DF;
}

.nav-item .active {
  color: #FDF5DF;
  border: 1px solid #FDF5DF;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 986px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 29px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #1BA098;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: #FDF5DF;
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    font-size: 1.8rem;
    cursor: pointer;
    color: #FDF5DF;
    margin-right: 25px;
    padding-right: 2px;
  }
} 

/* ========== HomePage ========== */

.homepage-div {
  margin-top: 50px;
}

.container-background {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url('../src/images/homepage-bcg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.div-intro-texts {
  width: 560px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-between;
  position: fixed;
  gap: 10px;
  /* border: 5px solid rgb(47, 255, 0); */
}

.title-text {
  font-family: 'Syne', sans-serif;
  font-weight: bolder;
  margin-top: 100px;
  margin-left: 26px;
  font-size: 70px;
  position: absolute;
  color: #121212;
  text-shadow: 2px 2px 5px #A9A9AC;
  /* border: 1px solid blue; */
}

/* ========== Media Queries for medium screen ========== */
@media screen and (max-width: 1024px) {
  
  /* .title-text{
    font-size: 64px;
    margin-left: 26px;
    } */

    /* .login-page-div{

    }

    .login-form-div{ */

    }

    /* .signup-container {
    
    }  */




.bcg-homepage {
  align-items: center;
  max-width: 100vw;
  height: auto;
}

/* ========== SignUp Page ========== */
.signup-page-div {
  margin-top: 50px;
}

.signup-form-div {
  margin-left: 2px;
  margin-right: 2px;
  display: flex;
  justify-content: center;
}

/* ========== Login Page ========== */
.login-page-div {
  margin-top: 50px;
}

.login-form-div {
  margin-left: 2px;
  margin-right: 2px;
  display: flex;
  justify-content: center;
}

/* ========== Add Experience Form Page ========== */
.create-entry-page-div {
  font-family: 'Syne', sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.create-form-div {
  margin-left: 2px;
  margin-right: 2px;
  display: flex;
  justify-content: center;
}

/* ========== Experience Details Page ========== */
.details-page-div {
  margin-top: 50px;
}
.details-card-page-div {
  font-family: 'Syne', sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.details-card-div {
  margin-top: 50px;
  border: 2px solid #1BA098;
  border-radius: 10%;
  background-color: whitesmoke;
}

.details-card-title-div {
  width: 700px;
  height: 100px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  /* border: 1px solid rgb(255, 0, 234); */
}

.details-card-photo-div {
  width: 700px;
  height: 350px;
  margin-bottom: 20px;
  border: 1px solid red;
}

.details-card-photo {
  width:100%;
  height: 100%;
  display: block;
}

.details-card-info-div {
  width: 700px;
  min-height: 220px;
  margin-bottom: 20px;
  border: 1px solid rgb(51, 0, 255);
}

.details-card-info-location {
  font-size: 30px;
  text-align: right;
  padding-left: 20px;
  padding-right: 20px;
}

.details-card-info-description {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
}

.details-card-comments-div {
  min-height: 250px;
  border: 1px solid rgb(0, 255, 8);
}

.details-card-btns-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 700px;
  height: 50px;
  margin-bottom: 20px;
  margin-bottom: 20px;
  gap: 20px;  
  /* border: 1px solid rgb(0, 255, 8); */
}

.update-experience-btn {
  width: 120px;
  height: 40px;
  background: #7DA2A9;
  border-radius: 25px;
  font-family: 'Syne', sans-serif;
  font-size: 15px;
  font-weight: bolder;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 0 20px;
}

.update-experience-btn:hover {
  background: #1BA098; /* ----> colour of the button when hovering*/
}

.delete-experience-btn {
  width: 120px;
  height: 40px;
  background: tomato;
  border-radius: 25px;
  font-family: 'Syne', sans-serif;
  font-size: 15px;
  font-weight: bolder;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 0 20px;
}

.delete-experience-btn:hover {
  background: rgb(250, 39, 2); /* ----> colour of the button when hovering*/
}

/* ========== Forms ========== */

.login-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  position: relative;
  width: 100%;
  max-width: 380px;
  padding: 80px 40px 40px;
  background: rgba(0,0,0,0.7);
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}
.form::before {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255,255,255, 0.08);
  transform: skewX(-26deg);
  transform-origin: bottom left;
  border-radius: 10px;
  pointer-events: none;
}
.form img {
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  width: 100px;
  background: rgba(255,255,255, 0.8);
  border-radius: 50%;
}
.form h2 {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  color: #ff652f;
}
.form .input-group {
  position: relative;
}
.form .input-group input {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: transparent;
  color: inherit;
}
.form .input-group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 1rem;
  pointer-events: none;
  transition: .3s ease-out;
}
.form .input-group input:focus + label,
.form .input-group input:valid + label {
  transform: translateY(-18px);
  color: #ff652f;
  font-size: .8rem;
}
.submit-btn {
  display: block;
  margin-left: auto;
  border: none;
  outline: none;
  background: #ff652f;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.forgot-pw {
  color: inherit;
}

#forgot-pw {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  z-index: 1;
  background: #fff;
  opacity: 0;
  transition: 0.6s;
}
#forgot-pw:target {
  height: 100%;
  opacity: 1;
}
.close {
  position: absolute;
  right: 1.5rem;
  top: 0.5rem;
  font-size: 2rem;
  font-weight: 900;
  text-decoration: none;
  color: inherit;
}

/* ========== Test Page ========== */


.profile-page {
  background-color: #FDF5DF;
  text-align: center;
}

.container-form {
  border: 5px solid red;
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
}

/* ========== Bucket List Card Entry ========== */

/* Card */
.entry-card {
border: 2px solid #1BA098;
border-radius: 10%;
height: 350px;
}

/* Card Title */
.card-title-text {
  font-family: 'Syne', sans-serif;
}

/* Entry Card Title */
.text-entry-card {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Button */
.card-btn {
  background: #7DA2A9;
  width: 120px;
  height: 40px;
  color: whitesmoke;
  border-radius: 25px;
  font-family: 'Syne', sans-serif;
  font-size: 15px;
  font-weight: bolder;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
  cursor: default;

}

.card-btn:hover {
  background: #1BA098; /* ----> colour of the button when hovering*/
}

/* ========== Profile Page ========== */

.profile-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
}

.user-details-div {
  flex: 15%;
  background-color: whitesmoke;
  margin: 10px;
  box-shadow: 2px 2px 3px grey;
  /* border: 1px solid red; */
}

.bucket-list-div {
  flex: 75%;
  padding: 5px;
  background-color: whitesmoke;
  margin: 10px;
  box-shadow: 2px 2px 3px grey;
  /* border: 1px solid red; */
}

.list-friends-div {
  flex: 10%;
  padding: none;
  background-color: whitesmoke;
  margin: 10px;
  box-shadow: 2px 2px 3px grey;
  /* border: 1px solid red; */
}

.user-details-title {
  font-family: 'Syne', sans-serif;
}

.welcome-message {
  font-family: 'Syne', sans-serif;
}

.bucket-list-title {
  font-family: 'Syne', sans-serif;
}

.friends-list-title {
  font-family: 'Syne', sans-serif;
}

/* ========== Profile Buttons ========== */

.profile-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px;

}

/* Logout Button*/
.container-logout-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px; /* ----> padding size of container div */
}

.div-logout-btn {
  width: 120px; /* ----> width of the button*/
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px; /* ----> radius of the corners */
  overflow: hidden;
  margin: 0 auto;
}

.logout-btn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #7DA2A9; /* ----> colour of the button */
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.text-logout-btn {
  font-family: 'Syne', sans-serif;
  font-size: 15px;
  font-weight: bolder;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 40px; /* ----> height of the button (don't really understand why it's placed here */
}

.text-logout-btn:hover {
  background: #1BA098; /* ----> colour of the button when hovering*/
}

/* Update Profile Button*/
.container-update-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px; /* ----> padding size of container div */
}

.div-update-btn {
  width: 120px; /* ----> width of the button*/
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px; /* ----> radius of the corners */
  overflow: hidden;
  margin: 0 auto;
}

.update-btn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #7DA2A9; /* ----> colour of the button */
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.text-update-btn {
  font-family: 'Syne', sans-serif;
  font-size: 15px;
  font-weight: bolder;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 40px; /* ----> height of the button (don't really understand why it's placed here */
}

.text-update-btn:hover {
  background: #1BA098; /* ----> colour of the button when hovering*/
}

/*Delete Button*/
.container-delete-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px; /* ----> padding size of container div */
}

.div-delete-btn {
  width: 120px; /* ----> width of the button*/
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px; /* ----> radius of the corners */
  overflow: hidden;
  margin: 0 auto;
}

.delete-btn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: tomato; /* ----> colour of the button */
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.text-delete-btn {
  font-family: 'Syne', sans-serif;
  font-size: 100%;
  font-weight: bolder;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 40px; /* ----> height of the button (don't really understand why it's placed here */
}

.text-delete-btn:hover {
  background: rgb(250, 39, 2); /* ----> colour of the button when hovering*/
}

/*Create Entry Button*/
.container-add-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px; /* ----> padding size of container div */
  padding-bottom: 15px;
}

.div-add-btn {
  width: 120px; /* ----> width of the button*/
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px; /* ----> radius of the corners */
  overflow: hidden;
  margin: 0 auto;
}

.add-btn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #7DA2A9; /* ----> colour of the button */
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.text-add-btn {
  font-family: 'Syne', sans-serif;
  font-size: 100%;
  font-weight: bolder;
  color: whitesmoke;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none; 

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 40px; /* ----> height of the button (don't really understand why it's placed here */
}

.text-add-btn:hover {
  background: #1BA098; /* ----> colour of the button when hovering*/
}

/*See Profile Details Button*/
.container-details-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px; /* ----> padding size of container div */
}

.div-details-btn {
  width: 120px; /* ----> width of the button*/
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px; /* ----> radius of the corners */
  overflow: hidden;
  margin: 0 auto;
}

.details-btn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #7DA2A9; /* ----> colour of the button */
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.text-details-btn {
  font-family: 'Syne', sans-serif;
  font-size: 100%;
  font-weight: bolder;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 40px; /* ----> height of the button (don't really understand why it's placed here */
}

.text-details-btn:hover {
  background: #1BA098; /* ----> colour of the button when hovering*/
}

/* Personal Bucket List */
.bucket-list-card-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  /* border: 2px solid rgb(255, 0, 255); */
}

/* List of Friends */
.list-group {
  margin: none;
  /* border: 2px solid rgb(255, 0, 255); */
  padding: 10px;
}

.list-group-item {
  list-style: none;
  max-width: 350px;
  margin-bottom: 5px;
  /* border: 1px solid blue; */
}

.friend-box-div {
  display: flex;
  flex-direction: row;
  list-style: none;
  /* border: 1px solid black; */
}

.friend-photo {
  width: 80px;
  border-radius: 50%;
  /* border: 1px solid black; */
}

.friend-description {
  font-family: 'Syne', sans-serif;
  font-size: 12px;
  width: 100%;
  align-content: flex-start;
  /* border: 1px solid black; */
}

.friend-name {
  font-size: 20px;
  color: #1BA098;
}

/* ========== Gen Button ========== */

.container-gen-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px; /* ----> padding size of container div */
}

.div-gen-btn {
  width: 120px; /* ----> width of the button*/
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px; /* ----> radius of the corners */
  overflow: hidden;
  margin: 0 auto;
}

.gen-btn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #7DA2A9; /* ----> colour of the button */
  /* background: -webkit-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: -o-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: -moz-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  top: 0; */
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.text-gen-btn {
  font-family: 'Syne', sans-serif;
  font-size: 15px;
  font-weight: bolder;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 40px; /* ----> height of the button (don't really understand why it's placed here */
}

.text-gen-btn:hover {
  background: #1BA098; /* ----> colour of the button when hovering*/
}

/* .div-gen-btn:hover .gen-btn {
  left: 0;
} */

.container-gen-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px; /* ----> padding size of container div */
}

.div-gen-btn {
  width: 120px; /* ----> width of the button*/
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px; /* ----> radius of the corners */
  overflow: hidden;
  margin: 0 auto;
}

.gen-btn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #7DA2A9; /* ----> colour of the button */
  /* background: -webkit-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: -o-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: -moz-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  top: 0; */
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.text-gen-btn {
  font-family: 'Syne', sans-serif;
  font-size: 15px;
  font-weight: bolder;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 40px; /* ----> height of the button (don't really understand why it's placed here */
}

.text-gen-btn:hover {
  background: #1BA098; /* ----> colour of the button when hovering*/
}

/*------------------- Logo --------------------------*/

.logo-container {
  margin: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid #333333; */
}

.logo-text {
  width: 250px;
  height: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}

input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*----------------- Start of "Already have an account? Login"------------------*/

.text-center {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 5px;
}

.txt1 {
  font-family: 'Syne', sans-serif;
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
  
}

.txt2 {
  font-family: 'Syne', sans-serif;
  font-size: 13px;
  color: #333333;
  line-height: 1.5;
}

.txt2:focus {
	outline: none !important;
}

.txt2:hover {
	text-decoration: none;
  color: #1BA098;
  /* color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff); */
}

/*----------------- End of "Already have an account? Login"------------------*/

/*----------------- Start of Form Container------------------*/

/* .limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  border: 2px solid red; 
} */

.signup-container {
  z-index: 2;
  position: absolute;
}


.wrap-login100 {
  align-content: center;
  width: 390px;
  background: whitesmoke;
  border-radius: 10px;
  overflow: hidden;
  padding: 0px 55px 33px 55px;
  border: 3px solid #1BA098;
  margin-top: 20%;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-family: 'Syne', sans-serif;
  font-size: 30px;
  font-weight: bolder;
  color: #1F1B24;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
}
.login100-form-title i {
  font-size: 60px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input100 {
  font-family: 'Syne', sans-serif;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/ 
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #1BA098;
  background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  background: -o-linear-gradient(left, #21d4fd, #b721ff);
  background: -moz-linear-gradient(left, #21d4fd, #b721ff);
  background: linear-gradient(left, #21d4fd, #b721ff);
}

.focus-input100::after {
  font-family: 'Syne', sans-serif;
  font-size: 15px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: -15px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -15px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

/*---------------------------------------------*/
.btn-show-pass {
  font-size: 15px;
  color: #999999;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding-right: 5px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-show-pass:hover {
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}

.btn-show-pass.active {
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}



/*------------------------------------------------------------------
[ Button Sign Up]*/

.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #7DA2A9;
  background: -webkit-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: -o-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: -moz-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn {
  font-family: 'Syne', sans-serif;
  font-size: 15px;
  font-weight: bolder;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.login100-form-btn:hover {
  background: #1BA098;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 13px 15px 33px 15px;
  }
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: 'Syne', sans-serif;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: 'Syne', sans-serif;
  font-size: 16px;
  color: #c80000;

  display: block;
  position: absolute;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/* ========== Error 404 Page ========== */

.error-message {
  align-items: center;
  max-width: 100vw;
  height: auto;
  
}





